{{ "=" * ("Climate - “ ~ archive_date|length) }}
Climate - {{ archive_date }}
{{ "=" * ("Climate - " ~ archive_date|length) }}

.. image:: temperature.svg
    :alt: Temperature
    :width: 200 %

.. image:: humidity.svg
    :alt: Humidity
    :width: 200 %
