{{ "=" * archive_date|length }}
{{ archive_date }}
{{ "=" * archive_date|length }}

.. image:: temperature.svg
    :alt: Temperature
    :width: 200 %

.. image:: humidity.svg
    :alt: Humidity
    :width: 200 %
